<div class="event-card">
  <div class="event-card-main">
    <div class="event-img-container">
      <span class="event-img"><img src="{{event.imgUrl}}"/></span>
    </div>
    <div class="event-details">
      <h3 class="event-title">{{ event.eventTitle }}</h3>
      <span class="event-datetime">{{ event.date }}, {{ event.time }}</span>
      <span class="event-location">{{ event.venueTitle }}</span>
      <span class="event-registration-link"
        ><a href="{{event.registrationLink}}">Register Here</a></span
      >
    </div>
  </div>
  <div class="event-more-info">
    <button>+ MORE INFO</button>
    <p>
      React was one of the first major front-end frameworks to not only name,
      but tout its rendering performance. React’s virtual dom is famous for
      efficiently rendering components—but what happens when those components
      suddenly don’t feel fast anymore? Where do you look? How do you fix it?
    </p>
  </div>
</div>
